*{
    margin: 0;
}
.wrapper
{
    min-width: 100%;
    min-height: 100vh;
    align-content: center;
    
}
.index
{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    max-width: 25%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 0 10px 1px rgb(86, 86, 86);
}
.options{
    width: 100%;
    border: none;
    display: flex;
}

.btn
{
    min-width: 50%;
    padding: 4%;
    border: none;
    cursor: pointer;
}
.selected{
    box-shadow: 0 0 10px 1px rgb(126, 123, 123);
    border: 1px solid black;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10%;
    width: 50%;
    
}
.topuppage
{
    min-width: 100%;
}
.getamountpage
{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    min-width: 20%;
    margin: auto;
    padding: 2%;
    box-shadow: 0 0 10px 1px rgb(86, 86, 86);
}
.pagebtn
{
    width: 30%;
    border: none;
    outline: none;
    padding: 5%;
    border-radius: 0.5rem;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.input
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    text-align: left;
    justify-content: left;
}


.displaying
{
    display: block;
}
.message
{
    color: orangered;
    display: none;
}
.mainpage
{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    
}
.notshow{
    display: none;
}
#homepage
{
    display: flex;
}
.menubar
{
    width: 90%;
    display: flex;
    min-height: 60px;
    justify-content: center;
    margin: auto;
    list-style-type: none;
    padding: 0;
    background-color: black;
}
.menu
{
    width: 10%;
    padding: 2%;
    color: white;
    cursor: pointer;

}
.menu:hover
{
    background-color: rgba(220, 218, 218,0.4);
}

.selectedmenu
{
    background-color: rgba(220, 218, 218,0.4);
}
.menupage
{
    min-height: calc(100vh - 150px);
    display: none;
    align-items: center;
    justify-content: center;
}
#medicinetable td,th ,.purchasetable td,th ,.historytable td,th
{
    
    width: 20%;
    border-top:2px solid black ;
    padding: 2%;
    margin: 0;
    
}

#medicinetable, .purchasetable, .historytable
{
    min-width: 100%;
    margin: auto;
    padding: 5%;
    border-collapse: collapse;
}
.table
{
    width: 50%;
    padding:3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-shadow: 0 0 12px 1px rgb(97, 96, 96);
}
.edit
{
    background-color: blue !important;
    color: white;
    padding: 5% 7%;
    border-radius: 0.5rem;
    width: fit-content!important;
    margin-right: 2%;
    border: none;
    cursor: pointer;
}
.delete, .buy,.add,.confirmadd
{
    background-color: red;
    padding:5% 7%;
    width: fit-content!important;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.buy,.add,.confirmadd
{
    background-color: green!important;
}
.add
{
    width: 20%;
    padding: 1.5% 2%;
    cursor: pointer;

}
.form
{
    width: 100%;
    max-height: fit-content;
    display: none;
}
.medicineform
{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 20%;
    align-items: left;
    margin: auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 12px 1px rgb(80, 79, 79);
}
.quantityform
{
    display: none;
}
.namedisplay
{
    position: absolute;
    right: 8%;
    top: 0.4%;
    background-color:rgb(238, 227, 227) ;
    color: rgb(3, 0, 0);
    font-weight: bold;
    border-radius: 0.1rem;
    box-shadow: 0 0 5px 1px rgb(130, 129, 129);
    border: 1px solid black;
    padding: 0.5% 2%;
}
.balancemessage
{
    text-align: left;
    display: flex;
    margin-bottom: 5px;
    align-content: left;
}
.balancespan
{
    margin-left: 5px;
}
#signinmessage
{
    display:none;
}
